<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row pt-5">
      <div class="col-4">
        {{!-- login button --}}
        <a href="/login" class="btn btn-lg btn-primary d-block">
          LOGIN
        </a>
      </div>
      <div class="col-4">
        {{!-- register button  --}}
        <a href="/register" class="btn btn-lg btn-primary d-block">
          REGISTER
        </a>
      </div>
      <div class="col-4">
        {{!-- proile button for those who deserve --}}
        <a href="/profile" class="btn btn-lg btn-primary d-block">
          PROFILE
        </a>
      </div>
    </div>
  </div>

  {{!-- Here we will put the concrete views depending on route --}}
  {{{body}}}
</body>
</html>